.signup {
    display: flex;
}
@media (max-width: 576px) {
    .signup {
        flex-direction: column;
    }
}
.signup .left-side {
    background: url("../../assets/images/signup-img.png") no-repeat;
    background-size: cover;
    position: relative;
    color: #fff;
    padding: 50px 75px;
    box-sizing: border-box;
    flex-basis: 45%;
}
@media (max-width: 576px) {
    .signup .left-side {
        padding: 50px;
    }
}
.signup .left-side::before {
    content: "";
    background-color: var(--primary-color);
    opacity: 0.9;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.signup .left-side .vectors::before {
    content: url(../../assets/images/dots.svg);
    position: absolute;
    right: 160px;
    top: 200px;
}
.signup .left-side .vectors::after {
    content: url(../../assets/images/circles.svg);
    position: absolute;
    bottom: 0;
    left: 0;
}
.signup .right-side {
    flex-basis: 55%;
    padding: 165px 215px 120px 150px;
    box-sizing: border-box;
    position: relative;
}
@media (max-width: 576px) {
    .signup .right-side {
        padding: 110px 50px;
    }
}
.signup .back-button {
    position: absolute;
    left: 75px;
    top: 65px;
    color: var(--light-grey);
    text-decoration: none;
    font-weight: 600;
    display: flex;
    align-items: center;
}
@media (max-width: 576px) {
    .signup .back-button {
        left: 40px;
        top: 40px;
    }
}
.signup .back-button ion-icon {
    font-size: 26px;
    margin-right: 6px;
}
.signup .right-side .signup-p {
    color: var(--light-grey);
    padding: 12px 0;
    border-bottom: 1.5px solid #F5F5F5;
}